@media screen and (min-width : 320px){
    .dialog-page{
        height: 100vh;
        width: 100vh;
        position: fixed;
        width : 100%;
        height: 100%;
        left : 0;
        top : 0;
        background-color: rgba(0,0,0,0.6);
        display: none;
    }

    .dialog-page.display{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dialog-page .dialog-box{
        width: 250px;
        height: 200px;
        border-radius: 5px;
        padding : 1rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: var(--box-shadow);
    }

    .dialog-page .dialog-box h1{
        font-family: var(--font-family-2);
        font-size: 140%;
    }

    .dialog-page .dialog-box button{
        height: 5vh;
        padding: 0 1rem;
        border-radius: 5px;
        border : none;
        outline : none;
        box-shadow: var(--box-shadow);
        cursor: pointer;
        transition: all .1s ease-in;
        font-size: 90%;
        font-weight: bold;
        font-family: var(--font-family-1);
        background-color: #40729F;
        color : var(--white);
    }

    .dialog-page .dialog-box button:hover{
        box-shadow: none;
    }

}