@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300;400;600;700&display=swap');

:root {
  --font-family: 'Grenze Gotisch', cursive;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  font-family: var(--font-family);
  background-color: #fbfbfb;
}

.outer-box {
  width: 200px;
  height: 20px;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 50px;
}

.outer-box .fill-color {
  background-color: limegreen;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  transition: 0.5s all ease-in;
}